@import "../bower_components/bootstrap/less/bootstrap.less";
@import "basoaSlide.less";
@icon-font-path: "../bower_components/bootstrap/dist/fonts/";

// -----
// COLORES
// -----
@green: #B4C9C1;
@brown: #6A5B4D;
@orange: #EF625B;
@white: #ffffff;
@black: #000;



// Tipografías
@roboto: "Roboto", sans-serif; ;
@myriad: "myriad-pro",sans-serif ;


//Generales
body {
	font-family: @roboto;
}

.center {
	text-align: center;
}

.inner-30 {
	padding: 30px 15px;
}

.inner-50 {
	padding: 50px 15px;
}

.inner-45 {
	padding: 45px 0px;
}
.inner-65 {
	padding: 65px 15px ;
}

.inner {
	padding: 75px 15px ;
}

.uppercase {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
font-family: @roboto;
}

.shadow {
text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

// Margins y paddings

.m0 {
	margin: 0;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 20px;
}
.mt30 {
	margin-top: 30px;
}
.mb30 {
	margin-bottom: 30px;
}

.mt40 {
	margin-top: 40px;
}

.mb40 {
	margin-bottom: 40px;
}

.mt50 {
	margin-top: 50px;
}
.mb50 {
	margin-bottom: 50px;
}

.mt60 {
	margin-top: 60px;
}


.pt10 {
	padding-top: 10px;
}

.pt20 {
	padding-top: 20px;
}

.pt30 {
	padding-top: 30px;
}

.pt10 {
	padding-bottom: 10px;
}

.pt20 {
	padding-bottom: 20px;
}

.pt30 {
	padding-bottom: 30px;
}

.divide60 {
    width: 100%;
    height: 60px;
}

.divide75 {
    width: 100%;
    height: 75px;
}
.divide80 {
    width: 100%;
    height: 80px;
}
.divide85 {
    width: 100%;
    height: 100px;
}


// -----
// SECCIONES
// -----
.presentacion {
	background-image: url("../images/uno.jpg");
	height: 700px;
	background-size: cover;
	background-position: center;
}


.principal {
	background-image: url("../images/uno.jpg");
	height: 700px;
	background-size: cover;
	background-position: center;
}

.dos {
	background-image: url("../images/dos.jpg");
	height: 700px;
	background-size: cover;
	background-position: center;
}


.footer-lateral {
	background-color: #B4C9C1;
	height: 800px;
}


.menus {
 position: fixed;
 z-index: 10000;
 width: 100%;
 top: 0;
}

.menus-interior {
 position: fixed;
 width: 100%;
 top: 0;	
}

section {
	padding: 100px 0px;
	color: @white;
}

// ------
// MENUS
// ------

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	border: 0;
}

.navbar-default .navbar-nav > li > a {
	padding-top: 50px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: @white;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: @white;
	background-color: fade(@green, 50%);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: @white;
	background-color: fade(@green, 50%);
}

.navbar-default {
	background-color: transparent;
}

.navbar.container {
 	margin-top: 0px; 
}

.solo-menu {
	background-color: fade(@brown, 50%);
}

.idiomas > li {
	list-style: none;
	padding: 0 5px;
	margin: 0;
	line-height: 15px;
  font-weight: bold;
}

.idiomas {
	margin-top: 8px;
	margin-right: 15px;
}

.idiomas a {
	color: @white;
}

.idiomas a:hover {
	opacity: 0.8;
}

.menu-principal {
position: fixed;
z-index: 999;
top: 0;
width: 80%;

}

// ------
// SLIDE
// ------

/* faster sliding speed */
.basoaSlide-inner > .item {
    -webkit-transition: 0.3s ease-in-out left;
    -moz-transition: 0.3s ease-in-out left;
    -o-transition: 0.3s ease-in-out left;
    transition: 0.3s ease-in-out left;
}

.puntal {
	height: 700px;
	border-top: 2px dotted;
	background-color: purple;
}

.puntal-dos {
	height: 700px;
	border-top: 2px dotted;
	background-color: blue;
}

// -----
// FOOTER LATERAL
// -----

.basoa-menu {
width: 20%;
top: 0;
bottom: 0;
position: absolute;
background-color: @green;
z-index: 9999;
}

.basoa-btn {
	background-color: @orange;
	padding: 5px;
	border-radius: 50px 0px 0px 50px;
	position: relative;
	left: -100px;
}

.basoa-btn-close {
	position: relative;
	left: 85%;
}

.texto-footer {
	border-radius: 16px 16px;
	border: 1px solid @brown;
	padding: 14px;
	color: #6a5b4d;
	font-size: 25px;
	font-weight: bold;
	margin: 10px 65px;
	text-align: center;
	line-height: 1.19em;
	color: @brown;
}

.logo-footer {
	text-align: center;
}

.temporal {
	height: 1000px;
}



